<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengq.businessmodule.mapper.mapping.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chengq.businessmodule.model.entity.AccountEntity">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="balance" property="balance"/>

    </resultMap>

    <select id="getModel" resultMap="BaseResultMap">
         select * from account where  id=#{id}
    </select>

    <select id="getMyPage" resultMap="BaseResultMap" >
          select * from account
            where  1=1
          <if test="ew.username!=null">
              and username like binary CONCAT('%',#{ew.username},'%')

          </if>
        order  by id desc
    </select>
</mapper>
